#profile{
    width: 300px;
    display:block;
    margin:auto;
    border-radius: 50%;
    text-align: center;
}

p{
    margin-top: 20px;
    text-align: center;
}

.aboutSubtitle{
    text-align: center;
    color: rgb(99, 99, 99);
}