<div class="container-fluid">
  <ul id="contactUrls">
    <li><a href={{linkedInUrl}}><img class="icon" src="../../assets/icons/linkedin.png"></a></li>
    <li><a href={{twitterUrl}}><img class="icon" src="../../assets/icons/twitter.png"></a></li>
    <li><a href={{githubUrl}}><img class="icon" src="../../assets/icons/github-logo.png"></a></li>
    <li><a href={{emailUrl}}><img class="icon" src="../../assets/icons/gmail.png"></a></li>
  </ul>
  <div class="footer_txt">
    &copy; 2019 Austin Li, All Rights Reserved
  </div>
</div>