<div class="container-fluid">
  <ul id="contactUrls">
    <li><a href={{linkedInUrl}}><img class="icon" src="../../assets/icons/linkedin.png"></a></li>
    <li><a href={{twitterUrl}}><img class="icon" src="../../assets/icons/twitter.png"></a></li>
    <li><a href={{githubUrl}}><img class="icon" src="../../assets/icons/github-logo.png"></a></li>
    <li><a href={{emailUrl}}><img class="icon" src="../../assets/icons/gmail.png"></a></li>
  </ul>
  <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>