#contactUrls{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:0;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

.footer_txt{
    width:50%;
    margin:auto;
    text-align: center;
}

.container-fluid{
    margin-top: 30px;
}
