/* You can add global styles to this file, and also import other style files */
.container-fluid{
    margin:auto;
    max-width:800px;
    font-size: 18px;
}

.icon{
  max-width: 40px;
  height: auto;
  margin: 5px;
}

.thumbnail {
  width: 200px;
  height: auto;
}
